main{
    padding: 50px 50px 0 50px;
}

header h1{
    text-align: center;
    font-family: 'Muli', sans-serif;    
}

header h1 label{
    padding: 10px 20px 10px 20px;
    -webkit-box-shadow: 3px 3px 7px -4px rgba(0,0,0,0.23);
    -moz-box-shadow: 3px 3px 7px -4px rgba(0,0,0,0.23);
    box-shadow: 3px 3px 7px -4px rgba(0,0,0,0.23);
    background-color: #F5F5F5;
    margin-bottom: 20px;
}

#sin{
    margin-left: -50px;
}

#con{
    margin-right: -50px;
}

section{
    min-height: 400px;
    padding: 10px;
    width: 100%;
    border: 1px dashed #9e9d9c;
    border-radius: 5px;
}

.lista {
    list-style:none
}

#limpiar{
    margin-top: 10px;
    margin-bottom: 30px;
    float: right;
}

.nav-bar{
    height: 80px;
    width: 100%;
    background-color: brown;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}
.nav-bar h1{
    color: white;
}

.block-coffe{
    display: inline-block;
    width: 159px;
    height: 200px;
    border: 1px burlywood solid;
    background-color: rgba(222,184,135,1);
    margin: 10px;
    border-radius: 10%;
    cursor: pointer;
}

#imagenes{
    padding-top: 20px;
}

.cafe-icon
{
    margin-left: 5px;
}